
<script src="/assets/backend/libs/choices.js/public//assets/backend/scripts/choices.min.js"></script>
<script src="/assets/backend/libs/%40popperjs/core/umd/popper.min.js"></script>
<script src="/assets/backend/libs/tippy.js/tippy-bundle.umd.min.js"></script>
<script src="/assets/backend/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/backend/libs/prismjs/prism.js"></script>
<script src="/assets/backend/libs/lucide/umd/lucide.js"></script>
<script src="/assets/backend/js/tailwick.bundle.js"></script>
<!--apexchart js-->
<script src="/assets/backend/libs/apexcharts/apexcharts.min.js"></script>

<!--dashboard ecommerce init js-->
<script src="/assets/backend/js/pages/dashboards-ecommerce.init.js"></script>

<!-- App js -->
<script src="/assets/backend/js/app.js"></script>
</body>
</html>
