<!DOCTYPE html>
<html
	lang="en"
	class="light scroll-smooth group"
	data-layout="vertical"
	data-sidebar="light"
	data-sidebar-size="lg"
	data-mode="light"
	data-topbar="light"
	data-skin="default"
	data-navbar="sticky"
	data-content="fluid"
	dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Dashboard | Doseal</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta
			content="Doseal Admin"
			name="description" />
		<meta
			content="Doseal Limited"
			name="author" />
		<!-- App favicon -->
		<link
			rel="shortcut icon"
			href="/assets/backend/images/favicon.ico" />
		<!-- Layout config Js -->
		<script src="/assets/backend/js/layout.js"></script>
		<!-- Icons CSS -->

		<!-- Tailwind CSS -->

		<link
			rel="stylesheet"
			href="/assets/backend/css/tailwind2.css" />

		