<div class="container">
    <div class="footer-top space">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <h2 class="footer-top-title">Let’s Work Together</h2>
            </div>
            <div class="col-lg-5">
                <div class="footer-top-wrap">
                    <p class="mb-30">
                        We are committed to your business growth. Allow us to take your business to the next level.
                    </p>
                    <a
                        href="contact-us"
                        class="btn">
                        <span class="link-effect">
                            <span class="effect-1">LET'S CONNECT</span>
                            <span class="effect-1">LET'S CONNECT</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-menu-area">
        <div class="row gy-3 justify-content-between">
            <div class="col-xxl-6 col-lg-7">
                <ul class="footer-menu-list">
                    <li>
                        <a href="about-us">
                            <span class="link-effect">
                                <span class="effect-1">ABOUT DOSEAL</span>
                                <span class="effect-1">ABOUT DOSEAL</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="services">
                            <span class="link-effect">
                                <span class="effect-1">SERVICES</span>
                                <span class="effect-1">SERVICES</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="contact-us">
                            <span class="link-effect">
                                <span class="effect-1">CONTACT</span>
                                <span class="effect-1">CONTACT</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xxl-6 col-lg-5 text-lg-end">
                <ul class="footer-menu-list">
                    <li>
                        <a href="/legal/privacy/privacy-policy">
                            <span class="link-effect">
                                <span class="effect-1">PRIVACY POLICY</span>
                                <span class="effect-1">PRIVACY POLICY</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/legal/terms/terms-and-conditions">
                            <span class="link-effect">
                                <span class="effect-1">TERMS & CONDITIONS</span>
                                <span class="effect-1">TERMS & CONDITIONS</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright-wrap">
    <div class="container">
        <div class="row gy-3 justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="social-btn style3">
                    <a href="javascript::void(0)">
                        <span class="link-effect">
                            <span class="effect-1"
                                ><i class="fab fa-facebook"></i
                            ></span>
                            <span class="effect-1"
                                ><i class="fab fa-facebook"></i
                            ></span>
                        </span>
                    </a>
                    <a href="javascript::void(0)">
                        <span class="link-effect">
                            <span class="effect-1"
                                ><i class="fab fa-instagram"></i
                            ></span>
                            <span class="effect-1"
                                ><i class="fab fa-instagram"></i
                            ></span>
                        </span>
                    </a>
                    <!-- <a href="https://twitter.com/">
                        <span class="link-effect">
                            <span class="effect-1"><i class="fab fa-twitter"></i></span>
                            <span class="effect-1"><i class="fab fa-twitter"></i></span>
                        </span>
                    </a> -->
                    <!-- <a href="javascript::void(0)">
                        <span class="link-effect">
                            <span class="effect-1"
                                ><i class="fab fa-dribbble"></i
                            ></span>
                            <span class="effect-1"
                                ><i class="fab fa-dribbble"></i
                            ></span>
                        </span>
                    </a> -->
                </div>
            </div>
            <div class="col-md-6 align-self-center text-lg-end">
                <p class="copyright-text">
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    <a href="javascript::void(0)">Doseal Limited</a>
                </p>
            </div>
        </div>
    </div>
</div>