<div class="sticky-wrapper">
	<!-- Main Menu Area -->
	<div class="menu-area">
		<div class="container-fluid">
			<div class="row align-items-center justify-content-between">
				<div class="col-auto">
					<div class="header-logo">
						<a
							href="/"
							style="color: black; font-size: 1.5em"
							><img
								src="/assets/web/images/doseal.png"
								width="60px"
								alt="logo" />Doseal Limited</a
						>
					</div>
				</div>
				<div class="col-auto ms-auto">
					<nav class="main-menu d-none d-lg-inline-block">
						<ul>
							<li>
								<a href="/">
									<span class="link-effect">
										<span class="effect-1">HOME</span>
										<span class="effect-1">HOME</span>
									</span>
								</a>
							</li>
							<li>
								<a href="/about-us">
									<span class="link-effect">
										<span class="effect-1">ABOUT US</span>
										<span class="effect-1">ABOUT US</span>
									</span>
								</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#">
									<span class="link-effect">
										<span class="effect-1">PAGES</span>
										<span class="effect-1">PAGES</span>
									</span>
								</a>
								<ul class="sub-menu">
									<li><a href="about.html">About Page</a></li>
									<li class="menu-item-has-children">
										<a href="service.html">Service Page</a>
										<ul class="sub-menu">
											<li>
												<a href="service.html">Service Version 1</a>
											</li>
											<li>
												<a href="service-2.html">Service Version 2</a>
											</li>
											<li>
												<a href="service-3.html">Service Version 3</a>
											</li>
											<li>
												<a href="service-details.html">Service Details Page</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="team.html">Team Page</a>
									</li>
									<li>
										<a href="team-details.html">Team Details Page</a>
									</li>
									<li><a href="pricing.html">Pricing Page</a></li>
									<li class="menu-item-has-children">
										<a href="shop.html">Shop</a>
										<ul class="sub-menu">
											<li><a href="shop.html">Shop Page</a></li>
											<li>
												<a href="shop-details.html">Shop Details</a>
											</li>
											<li><a href="cart.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout</a></li>
										</ul>
									</li>
									<li><a href="faq.html">FAQ Page</a></li>
									<li><a href="error.html">Error Page</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="#">
									<span class="link-effect">
										<span class="effect-1">PORTFOLIO</span>
										<span class="effect-1">PORTFOLIO</span>
									</span>
								</a>
								<ul class="sub-menu">
									<li><a href="project.html">Portfolio Masonary</a></li>
									<li>
										<a href="project-2.html">Portfolio Pinterest</a>
									</li>
									<li><a href="project-3.html">Portfolio Gallery</a></li>
									<li>
										<a href="project-4.html">Portfolio Full Width</a>
									</li>
									<li><a href="project-5.html">Portfolio Slider</a></li>
									<li>
										<a href="project-6.html">Portfolio Interactive</a>
									</li>
									<li>
										<a href="project-details.html">Portfolio Details</a>
									</li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="#">
									<span class="link-effect">
										<span class="effect-1">BLOG</span>
										<span class="effect-1">BLOG</span>
									</span>
								</a>
								<ul class="sub-menu">
									<li><a href="blog.html">Blog Standard</a></li>
									<li><a href="blog-2.html">Blog 2 Column</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li>
								<a href="contact.html">
									<span class="link-effect">
										<span class="effect-1">CONTACT</span>
										<span class="effect-1">CONTACT</span>
									</span>
								</a>
							</li>
						</ul>
					</nav>
					<div class="navbar-right d-inline-flex d-lg-none">
						<button
							type="button"
							class="menu-toggle sidebar-btn">
							<span class="line"></span>
							<span class="line"></span>
							<span class="line"></span>
						</button>
					</div>
				</div>
				<div class="col-auto d-none d-lg-block">
					<div class="header-button">
						<button
							type="button"
							class="search-btn searchBoxToggler">
							<img
								src="assets/web/img/icon/search.svg"
								alt="icon" />
							<span class="link-effect">
								<span class="effect-1">SEARCH</span>
								<span class="effect-1">SEARCH</span>
							</span>
						</button>
						<button
							type="button"
							class="sidebar-btn sideMenuToggler">
							<span class="line"></span>
							<span class="line"></span>
							<span class="line"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
