<script src="/assets/web/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/web/js/slick.min.js"></script>
<script src="/assets/web/js/bootstrap.min.js"></script>
<script src="/assets/web/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/web/js/jquery.counterup.min.js"></script>
<script src="/assets/web/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/web/js/isotope.pkgd.min.js"></script>
<script src="/assets/web/js/gsap.min.js"></script>

<script src="/assets/web/js/twinmax.js"></script>
<script src="/assets/web/js/imageRevealHover.js"></script>
<script src="/assets/web/js/jarallax.min.js"></script>
<script src="/assets/web/js/jquery.marquee.min.js"></script>
<script src="/assets/web/js/jquery-ui.min.js"></script>
<script src="/assets/web/js/waypoints.js"></script>
<script src="/assets/web/js/wow.js"></script>

<!-- Main Js File -->
<script src="/assets/web/js/main.js"></script>

<script>
    function confirmLogout(element) {
            var route = $(element).data("route");

            var answer = confirm("Are you sure you want to log out?");

            if (answer == true) {
                window.location = route;
            } else {
                //do something
                return false;
            }
        }
</script>


</body>
</html>