<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="title-area text-center">
				<h2 class="sec-title">Our Team Behind Doseal</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row gy-4 justify-content-center">
		<div class="col-lg-3 col-md-6">
			<div class="team-card">
				<div class="team-card_img">
					<img
						src="assets/web/images/enosh.png"
						alt="Enosh Emmanuel Image" />
				</div>
				<div class="team-card_content">
					<h3 class="team-card_title">
						<a href="javascript::void(0)">Enosh Emmanuel</a>
					</h3>
					<span class="team-card_desig">CEO</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="team-card">
				<div class="team-card_img">
					<img
						src="assets/web/images/obed.png"
						alt="Team Image" />
				</div>
				<div class="team-card_content">
					<h3 class="team-card_title">
						<a href="javascript::void(0)">Obed Mensah</a>
					</h3>
					<span class="team-card_desig">General Manager</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="team-card">
				<div class="team-card_img">
					<img
						src="assets/web/images/paul.png"
						alt="Team Image" />
				</div>
				<div class="team-card_content">
					<h3 class="team-card_title">
						<a href="javascript::void(0)">Paul Cook</a>
					</h3>
					<span class="team-card_desig">Chief Product Officer</span>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6">
			<div class="team-card">
				<div class="team-card_img">
					<img
						src="assets/web/images/samuel.png"
						alt="Samuel Mensah" />
				</div>
				<div class="team-card_content">
					<h3 class="team-card_title">
						<a href="javascript::void(0)">Samuel Mensah</a>
					</h3>
					<span class="team-card_desig">Project Manager</span>
				</div>
			</div>
		</div>
	</div>
</div>
